.learning-process {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  position: absolute;
  top: 33em;
  left: 40em;
}

@mixin answer-button($color) {
  width: 7em;
  height: 2.8em;
  padding: 10px 20px;
  margin: 5px;
  font-size: 17px;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;

  background-color: $color;
}

.know-button {
  @include answer-button($color: rgb(37, 134, 5));
  &:hover {
    background-color: rgb(36, 112, 11);
    border-color: rgb(30, 30, 30);
  }
}

.unknown-button {
  @include answer-button($color: #a11616);
  &:hover {
    background-color: rgb(118, 16, 16);
    border-color: rgb(30, 30, 30);
  }
}
