:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Merriweather, Montserrat;
  line-height: 1.5;
  font-weight: 500;
  color: #000000;
  background-color: #c5cbe3;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4056a1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #c5cbe3;
  }
  a:hover {
    color: #4056a1;
  }
}
